
<div class="content">
    <div class="col-md-9" >
        <div class="card" >
            <div class="card-header"><h5 class="title">Ürün Ekle</h5></div>
            <div class="card-body">
                <form [formGroup]="productAddForm">
                    <div class="mb-3">
                        <label for="productCategoryId" >Ürün Kategorisi</label>
                        <div class="form-group">
                            <select id="productCategoryId" formControlName="productCategoryId" class="form-control" placeholder="Ürün Kategorisi">
                                <option *ngFor="let productCategory of productCategories" [value]="productCategory.productCategoryId">{{productCategory.productCategoryName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="productName" >Ürün İsmi</label>
                        <div class="form-group">
                            <input type="text" id="productName" formControlName="productName" class="form-control" placeholder="Ürün İsmi"/>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="gameId" >Oyun İsmi</label>
                        <div class="form-group">
                            <select id="gameId" formControlName="gameId" class="form-control" placeholder="Oyun İsmi">
                                <option *ngFor="let game of gameDetails" [value]="game.gameId">{{game.gameName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" >Açıklama</label>
                        <div class="form-group">
                            <input type="text" id="description" formControlName="description" class="form-control" placeholder="Açıklama"/>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="price" >Fiyatı</label>
                        <div class="form-group">
                            <input type="number" id="price" formControlName="price" class="form-control" placeholder="Fiyatı"/>
                        </div>
                    </div>
                   
                    
                 

                </form>

            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="addProduct()" >Ekle</button>
            </div>
        </div>


    </div>
    
</div>