<div *ngIf="dataLoaded == false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div>
  <button class="btn btn-success" style="margin-left: 15px;" routerLink="product/add">Yeni Ürün Ekle</button>
</div>
<div class="d-flex flex-wrap">
  <div *ngFor="let productDetails of productsDetails"  class="w-25 p-3">
    <div  class="h-100">
      <ul class="list-group h-100">
        <li class="list-group-item">
          <h6>Ürün İsmi</h6>
          {{ productDetails.productName }}
        </li>
        <li class="list-group-item">
          <h6>Kategori</h6>
          {{ productDetails.productCategoryName }}
        </li>
        <li class="list-group-item">
          <h6>Oyun</h6>
          {{ productDetails.gameName }}
        </li>
        
        <li class="list-group-item">
          <h6>Fiyatı</h6>
          {{ productDetails.price }}
        </li>
        <li class="list-group-item">
          <h6>Stokta Kalan</h6>
          {{ productDetails.stockQuantity }}
        </li>
        <li class="list-group-item d-flex justify-content-between  align-items-center">
          <button class="btn btn-success">Düzenle</button>
          <button class="btn btn-warning" *ngIf="productDetails.status == true" (click)="updateStatus(productDetails)">Pasif Duruma Getir</button>
          <button class="btn btn-warning" *ngIf="!productDetails.status == true" (click)="updateStatus(productDetails)">Aktif Duruma Getir</button>
          <button class="btn btn-danger" (click)="deleteProduct(productDetails)">Sil</button>
        </li>
      </ul>
    </div>
  </div>
</div>
