<div class="content" style="margin: 12px;">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h5 class="title">Oyun Kategorisi Ekle</h5></div>
      <div class="card-body">
        <form [formGroup]="categoryAddForm">
          <div class="mb-3">
            <label for="gameCategoryName">Kategori İsmi</label>
            <div class="form-group">
              <input
                type="text"
                id="gameCategoryName"
                formControlName="gameCategoryName"
                class="form-control"
                placeholder="Kategori İsmi"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-primary" (click)="addCategory()">
          Ekle
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">Kategori Numarası</th>
          <th scope="col">Kategori İsmi</th>
          <th scope="col">Sil</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let gameCategory of gameCategories">
          <td>{{ gameCategory.gameCategoryId }}</td>
          <td>{{ gameCategory.gameCategoryName }}</td>
          <td><button class="btn btn-danger" (click)="deleteCategory(gameCategory)">Sil</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
  
  
